@page
@model StellarUI.MyFeature.Pages.Page1Model

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Page1</title>
</head>
<body>
<div class="text-4xl bg-primary">Hello world</div>
<button class="bg-primary text-primary-foreground hover:bg-primary/90">What!?</button>
</body>
</html>
