@page
@model DocsSamples.Pages.Kbd.Group

<sa-stack align="Center">
    <!-- code begin -->
    <p class="text-muted-foreground text-sm">
        Use
        <sa-kbd-group>
            <sa-kbd>Ctrl + B</sa-kbd>
            <sa-kbd>Ctrl + K</sa-kbd>
        </sa-kbd-group>
        to open the command palette
    </p>
    <!-- code end -->
</sa-stack>