@page
@model DocsSamples.Pages.Kbd.Group

<sui-stack align="Center">
    <!-- code begin -->
    <p class="text-muted-foreground text-sm">
        Use
        <sui-kbd-group>
            <sui-kbd>Ctrl + B</sui-kbd>
            <sui-kbd>Ctrl + K</sui-kbd>
        </sui-kbd-group>
        to open the command palette
    </p>
    <!-- code end -->
</sui-stack>