@page
@model DocsSamples.Pages.Kbd.Intro

<sa-stack align="Center">
    <!-- code begin -->
    <sa-kbd-group>
        <sa-kbd>⌘</sa-kbd>
        <sa-kbd>⇧</sa-kbd>
        <sa-kbd>⌥</sa-kbd>
        <sa-kbd>⌃</sa-kbd>
    </sa-kbd-group>
    <sa-kbd-group>
        <sa-kbd>Ctrl</sa-kbd>
        <span>+</span>
        <sa-kbd>B</sa-kbd>
    </sa-kbd-group>
    <!-- code end -->
</sa-stack>
