@page
@model DocsSamples.Pages.Kbd.Intro

<div class="max-w-lg mx-auto">
    <sui-stack align="Center">
        <!-- code begin -->
        <sui-kbd-group>
            <sui-kbd>⌘</sui-kbd>
            <sui-kbd>⇧</sui-kbd>
            <sui-kbd>⌥</sui-kbd>
            <sui-kbd>⌃</sui-kbd>
        </sui-kbd-group>
        <sui-kbd-group>
            <sui-kbd>Ctrl</sui-kbd>
            <span>+</span>
            <sui-kbd>B</sui-kbd>
        </sui-kbd-group>
        <!-- code end -->
    </sui-stack>
</div>