@page
@using DuneUI.TagHelpers
@model ComponentPlayground.Pages.Demo.Alert

<dui-container class="py-6 lg:py-8">
    <div class="max-w-lg mx-auto">
        <dui-stack>
            <dui-alert>
                <dui-icon name="circle-check"/>
                <dui-alert-title>All purchases restored</dui-alert-title>
                <dui-alert-description>We have found and restored 9 of your purchases</dui-alert-description>
            </dui-alert>
            <dui-alert icon="circle-check" title="All purchases restored"
                       description="We have found and restored 9 of your purchases"/>
            <dui-alert variant="AlertVariant.Destructive" icon="circle-alert" title="Unable to restore purchases"
                       description="We have found 9 purchases but were unable to restore them. Please contact support."/>
            <dui-alert>
                <dui-icon name="popcorn"/>
                <dui-alert-title>This Alert has a title and an icon. No description.</dui-alert-title>
            </dui-alert>
            <dui-alert variant="AlertVariant.Destructive">
                <dui-icon name="alert-circle"/>
                <dui-alert-title>Unable to process your payment.</dui-alert-title>
                <dui-alert-description>
                    <p>Please verify your billing information and try again.</p>
                    <ul class="list-inside list-disc text-sm">
                        <li>Check your card details</li>
                        <li>Ensure sufficient funds</li>
                        <li>Verify billing address</li>
                    </ul>
                </dui-alert-description>
            </dui-alert>
        </dui-stack>
    </div>
</dui-container>