@page
@using DuneUI.TagHelpers
@model ComponentPlayground.Pages.Demo.Badge

<div className="flex flex-col items-center gap-2">
    <div className="flex w-full flex-wrap gap-2">
        <dui-badge>Badge</dui-badge>
        <dui-badge variant="BadgeVariant.Secondary">Secondary</dui-badge>
        <dui-badge variant="BadgeVariant.Destructive">Destructive</dui-badge>
        <dui-badge variant="BadgeVariant.Outline">Outline</dui-badge>
    </div>
    <div className="flex w-full flex-wrap gap-2">
        <dui-badge
            variant="BadgeVariant.Secondary"
            class="bg-blue-500 text-white dark:bg-blue-600"
        >
            <dui-icon name="badge-check"/>
            Verified
        </dui-badge>
        <dui-badge class="h-5 min-w-5 rounded-full px-1 font-mono tabular-nums">
            8
        </dui-badge>
        <dui-badge
            class="h-5 min-w-5 rounded-full px-1 font-mono tabular-nums"
            variant="BadgeVariant.Destructive"
        >
            99
        </dui-badge>
        <dui-badge
            class="h-5 min-w-5 rounded-full px-1 font-mono tabular-nums"
            variant="BadgeVariant.Outline"
        >
            20+
        </dui-badge>
    </div>
</div>