@page
@model ComponentPlayground.Pages.Demo.Badge

<div className="flex flex-col items-center gap-2">
    <div className="flex w-full flex-wrap gap-2">
        <sa-badge>Badge</sa-badge>
        <sa-badge variant="Secondary">Secondary</sa-badge>
        <sa-badge variant="Destructive">Destructive</sa-badge>
        <sa-badge variant="Outline">Outline</sa-badge>
    </div>
    <div className="flex w-full flex-wrap gap-2">
        <sa-badge
            variant="Secondary"
            class="bg-blue-500 text-white dark:bg-blue-600"
        >
            <sa-icon name="badge-check"/>
            Verified
        </sa-badge>
        <sa-badge class="h-5 min-w-5 rounded-full px-1 font-mono tabular-nums">
            8
        </sa-badge>
        <sa-badge
            class="h-5 min-w-5 rounded-full px-1 font-mono tabular-nums"
            variant="Destructive"
        >
            99
        </sa-badge>
        <sa-badge
            class="h-5 min-w-5 rounded-full px-1 font-mono tabular-nums"
            variant="Outline"
        >
            20+
        </sa-badge>
    </div>
</div>