@page
@model ComponentPlayground.Pages.Demo.Breadcrumb

<div>
    <dui-breadcrumb>
        <dui-breadcrumb-list>
            <dui-breadcrumb-item>
                <dui-breadcrumb-link asp-page="/Demo/Alert">
                    Home
                </dui-breadcrumb-link>
            </dui-breadcrumb-item>
            <dui-breadcrumb-separator />
            <dui-breadcrumb-item>
                <dui-breadcrumb-ellipsis />
            </dui-breadcrumb-item>
            <dui-breadcrumb-separator />
            <dui-breadcrumb-item>
                <dui-breadcrumb-link asp-page="/Demo/Field">
                    Components
                </dui-breadcrumb-link>
            </dui-breadcrumb-item>
            <dui-breadcrumb-separator><dui-icon name="chevrons-right"/></dui-breadcrumb-separator>
            <dui-breadcrumb-item>
                <dui-breadcrumb-page>Breadcrumb</dui-breadcrumb-page>
            </dui-breadcrumb-item>
        </dui-breadcrumb-list>
    </dui-breadcrumb>
</div>