@page
@using DuneUI.TagHelpers
@model ComponentPlayground.Pages.Demo.ButtonGroup

<div class="flex flex-col gap-y-4">
    <dui-button-group>
        <dui-button variant="ButtonVariant.Outline" size="ButtonSize.Small">
            Small
        </dui-button>
        <dui-button variant="ButtonVariant.Outline" size="ButtonSize.Small">
            Button
        </dui-button>
        <dui-button variant="ButtonVariant.Outline" size="ButtonSize.Small">
            Group
        </dui-button>
        <dui-button variant="ButtonVariant.Outline" size="ButtonSize.IconSmall">
            <dui-icon name="plus"/>
        </dui-button>
    </dui-button-group>
    <dui-button-group>
        <dui-button variant="ButtonVariant.Outline" size="ButtonSize.Default">
            Default
        </dui-button>
        <dui-button variant="ButtonVariant.Outline" size="ButtonSize.Default">
            Button
        </dui-button>
        <dui-button variant="ButtonVariant.Outline" size="ButtonSize.Default">
            Group
        </dui-button>
        <dui-button variant="ButtonVariant.Outline" size="ButtonSize.Icon">
            <dui-icon name="plus"/>
        </dui-button>
    </dui-button-group>
    <dui-button-group>
        <dui-button variant="ButtonVariant.Outline" size="ButtonSize.Large">
            Large
        </dui-button>
        <dui-button variant="ButtonVariant.Outline" size="ButtonSize.Large">
            Button
        </dui-button>
        <dui-button variant="ButtonVariant.Outline" size="ButtonSize.Large">
            Group
        </dui-button>
        <dui-button variant="ButtonVariant.Outline" size="ButtonSize.IconLarge">
            <dui-icon name="plus"/>
        </dui-button>
    </dui-button-group>
    <dui-button-group
        orientation="ButtonGroupOrientation.Vertical"
        aria-label="Media controls"
        className="h-fit"
    >
        <dui-button variant="ButtonVariant.Outline" size="ButtonSize.Icon">
            <dui-icon name="plus" />
        </dui-button>
        <dui-button variant="ButtonVariant.Outline" size="ButtonSize.Icon">
            <dui-icon name="minus" />
        </dui-button>
    </dui-button-group>
    <dui-button-group>
        <dui-button-group>
            <dui-button variant="ButtonVariant.Outline" size="ButtonSize.Small">
                1
            </dui-button>
            <dui-button variant="ButtonVariant.Outline" size="ButtonSize.Small">
                2
            </dui-button>
            <dui-button variant="ButtonVariant.Outline" size="ButtonSize.Small">
                3
            </dui-button>
            <dui-button variant="ButtonVariant.Outline" size="ButtonSize.Small">
                4
            </dui-button>
            <dui-button variant="ButtonVariant.Outline" size="ButtonSize.Small">
                5
            </dui-button>
        </dui-button-group>
        <dui-button-group>
            <dui-button variant="ButtonVariant.Outline" size="ButtonSize.IconSmall" aria-label="Previous">
                <dui-icon name="arrow-left" />
            </dui-button>
            <dui-button variant="ButtonVariant.Outline" size="ButtonSize.IconSmall" aria-label="Next">
                <dui-icon name="arrow-right" />
            </dui-button>
        </dui-button-group>
    </dui-button-group>
    <dui-button-group>
        <dui-button variant="ButtonVariant.Secondary" size="ButtonSize.Small">
            Copy
        </dui-button>
        <dui-button-group-separator />
        <dui-button variant="ButtonVariant.Secondary" size="ButtonSize.Small">
            Paste
        </dui-button>
    </dui-button-group>
    <dui-button-group>
        <dui-button variant="ButtonVariant.Secondary" size="ButtonSize.Small">
            Copy
        </dui-button>
        <dui-button-group-separator />
        <dui-button variant="ButtonVariant.Secondary" size="ButtonSize.IconSmall">
            <dui-icon name="plus"/>
        </dui-button>
    </dui-button-group>
</div>