@page
@using DuneUI.TagHelpers
@model ComponentPlayground.Pages.Demo.Button

<div class="flex flex-col gap-y-4">
    <div class="flex gap-x-2">
        <dui-button>Default</dui-button>
        <dui-button variant="ButtonVariant.Secondary">Secondary</dui-button>
        <dui-button variant="ButtonVariant.Outline">Outline</dui-button>
        <dui-button variant="ButtonVariant.Destructive">Destructive</dui-button>
        <dui-button variant="ButtonVariant.Ghost">Ghost</dui-button>
        <dui-button variant="ButtonVariant.Link">Link</dui-button>
    </div>
    <div class="flex gap-x-2 items-center">
        <dui-button variant="ButtonVariant.Outline" size="ButtonSize.Small">Small</dui-button>
        <dui-button variant="ButtonVariant.Outline" size="ButtonSize.Default">Default</dui-button>
        <dui-button variant="ButtonVariant.Outline" size="ButtonSize.Large">Large</dui-button>
        <dui-button variant="ButtonVariant.Outline" size="ButtonSize.IconSmall">
            <dui-icon name="airplay"></dui-icon>
        </dui-button>
        <dui-button variant="ButtonVariant.Outline" size="ButtonSize.Icon">
            <dui-icon name="airplay"></dui-icon>
        </dui-button>
        <dui-button variant="ButtonVariant.Outline" size="ButtonSize.IconLarge">
            <dui-icon name="airplay"></dui-icon>
        </dui-button>
    </div>
    <div class="flex gap-x-2">
        <dui-linkbutton asp-page="/Demo/Stack">Default</dui-linkbutton>
        <dui-linkbutton asp-page="/Demo/Stack" variant="ButtonVariant.Secondary">Secondary</dui-linkbutton>
        <dui-linkbutton asp-page="/Demo/Stack" variant="ButtonVariant.Outline">Outline</dui-linkbutton>
        <dui-linkbutton asp-page="/Demo/Stack" variant="ButtonVariant.Destructive">Destructive</dui-linkbutton>
        <dui-linkbutton asp-page="/Demo/Stack" variant="ButtonVariant.Ghost">Ghost</dui-linkbutton>
        <dui-linkbutton asp-page="/Demo/Stack" variant="ButtonVariant.Link">Link</dui-linkbutton>
    </div>
    <div class="flex gap-x-2">
        <dui-button variant="ButtonVariant.Outline">
            <dui-icon name="git-branch"/>
            New Branch
        </dui-button>
        <dui-button>
            <dui-icon name="circle-plus"/>
            Quick Create
        </dui-button>
        <dui-button variant="ButtonVariant.Outline" size="ButtonSize.Icon" class="rounded-full">
            <dui-icon name="git-branch"/>
        </dui-button>
        <dui-button variant="ButtonVariant.Outline" disabled>
            <dui-spinner class="size-4" /> Submit
        </dui-button>
    </div>
</div>