@page
@model ComponentPlayground.Pages.Demo.Button

<div class="flex flex-col gap-y-4">
    <div class="flex gap-x-2">
        <sa-button>Default</sa-button>
        <sa-button variant="Secondary">Secondary</sa-button>
        <sa-button variant="Outline">Outline</sa-button>
        <sa-button variant="Destructive">Destructive</sa-button>
        <sa-button variant="Ghost">Ghost</sa-button>
        <sa-button variant="Link">Link</sa-button>
    </div>
    <div class="flex gap-x-2 items-center">
        <sa-button variant="Outline" size="Small">Small</sa-button>
        <sa-button variant="Outline" size="Default">Default</sa-button>
        <sa-button variant="Outline" size="Large">Large</sa-button>
        <sa-button variant="Outline" size="IconSmall">
            <sa-icon name="airplay"></sa-icon>
        </sa-button>
        <sa-button variant="Outline" size="Icon">
            <sa-icon name="airplay"></sa-icon>
        </sa-button>
        <sa-button variant="Outline" size="IconLarge">
            <sa-icon name="airplay"></sa-icon>
        </sa-button>
    </div>
    <div class="flex gap-x-2">
        <sa-linkbutton asp-page="/Demo/Stack">Default</sa-linkbutton>
        <sa-linkbutton asp-page="/Demo/Stack" variant="Secondary">Secondary</sa-linkbutton>
        <sa-linkbutton asp-page="/Demo/Stack" variant="Outline">Outline</sa-linkbutton>
        <sa-linkbutton asp-page="/Demo/Stack" variant="Destructive">Destructive</sa-linkbutton>
        <sa-linkbutton asp-page="/Demo/Stack" variant="Ghost">Ghost</sa-linkbutton>
        <sa-linkbutton asp-page="/Demo/Stack" variant="Link">Link</sa-linkbutton>
    </div>
    <div class="flex gap-x-2">
        <sa-button variant="Outline">
            <sa-icon name="git-branch"/>
            New Branch
        </sa-button>
        <sa-button>
            <sa-icon name="circle-plus"/>
            Quick Create
        </sa-button>
        <sa-button variant="Outline" size="Icon" class="rounded-full">
            <sa-icon name="git-branch"/>
        </sa-button>
        <sa-button variant="Outline" disabled>
            <sa-spinner class="size-4" /> Submit
        </sa-button>
    </div>
</div>