@page
@model ComponentPlayground.Pages.Demo.ButtonGroup

<div class="flex flex-col gap-y-4">
    <sa-button-group>
        <sa-button variant="Outline" size="Small">
            Small
        </sa-button>
        <sa-button variant="Outline" size="Small">
            Button
        </sa-button>
        <sa-button variant="Outline" size="Small">
            Group
        </sa-button>
        <sa-button variant="Outline" size="IconSmall">
            <sa-icon name="plus"/>
        </sa-button>
    </sa-button-group>
    <sa-button-group>
        <sa-button variant="Outline" size="Default">
            Default
        </sa-button>
        <sa-button variant="Outline" size="Default">
            Button
        </sa-button>
        <sa-button variant="Outline" size="Default">
            Group
        </sa-button>
        <sa-button variant="Outline" size="Icon">
            <sa-icon name="plus"/>
        </sa-button>
    </sa-button-group>
    <sa-button-group>
        <sa-button variant="Outline" size="Large">
            Large
        </sa-button>
        <sa-button variant="Outline" size="Large">
            Button
        </sa-button>
        <sa-button variant="Outline" size="Large">
            Group
        </sa-button>
        <sa-button variant="Outline" size="IconLarge">
            <sa-icon name="plus"/>
        </sa-button>
    </sa-button-group>
    <sa-button-group
        orientation="Vertical"
        aria-label="Media controls"
        className="h-fit"
    >
        <sa-button variant="Outline" size="Icon">
            <sa-icon name="plus" />
        </sa-button>
        <sa-button variant="Outline" size="Icon">
            <sa-icon name="minus" />
        </sa-button>
    </sa-button-group>
    <sa-button-group>
        <sa-button-group>
            <sa-button variant="Outline" size="Small">
                1
            </sa-button>
            <sa-button variant="Outline" size="Small">
                2
            </sa-button>
            <sa-button variant="Outline" size="Small">
                3
            </sa-button>
            <sa-button variant="Outline" size="Small">
                4
            </sa-button>
            <sa-button variant="Outline" size="Small">
                5
            </sa-button>
        </sa-button-group>
        <sa-button-group>
            <sa-button variant="Outline" size="IconSmall" aria-label="Previous">
                <sa-icon name="arrow-left" />
            </sa-button>
            <sa-button variant="Outline" size="IconSmall" aria-label="Next">
                <sa-icon name="arrow-right" />
            </sa-button>
        </sa-button-group>
    </sa-button-group>
    <sa-button-group>
        <sa-button variant="Secondary" size="Small">
            Copy
        </sa-button>
        <sa-button-group-separator />
        <sa-button variant="Secondary" size="Small">
            Paste
        </sa-button>
    </sa-button-group>
    <sa-button-group>
        <sa-button variant="Secondary" size="Small">
            Copy
        </sa-button>
        <sa-button-group-separator />
        <sa-button variant="Secondary" size="IconSmall">
            <sa-icon name="plus"/>
        </sa-button>
    </sa-button-group>
</div>