@page
@model ComponentPlayground.Pages.Demo.Button

<div class="flex flex-col gap-y-4">
    <div class="flex gap-x-2">
        <sui-button>Default</sui-button>
        <sui-button variant="Secondary">Secondary</sui-button>
        <sui-button variant="Outline">Outline</sui-button>
        <sui-button variant="Destructive">Destructive</sui-button>
        <sui-button variant="Ghost">Ghost</sui-button>
        <sui-button variant="Link">Link</sui-button>
    </div>
    <div class="flex gap-x-2 items-center">
        <sui-button variant="Outline" size="Small">Small</sui-button>
        <sui-button variant="Outline" size="Default">Default</sui-button>
        <sui-button variant="Outline" size="Large">Large</sui-button>
        <sui-button variant="Outline" size="IconSmall">
            <sui-icon name="airplay"></sui-icon>
        </sui-button>
        <sui-button variant="Outline" size="Icon">
            <sui-icon name="airplay"></sui-icon>
        </sui-button>
        <sui-button variant="Outline" size="IconLarge">
            <sui-icon name="airplay"></sui-icon>
        </sui-button>
    </div>
    <div class="flex gap-x-2">
        <sui-linkbutton asp-page="/Index">Default</sui-linkbutton>
        <sui-linkbutton asp-page="/Index" variant="Secondary">Secondary</sui-linkbutton>
        <sui-linkbutton asp-page="/Index" variant="Outline">Outline</sui-linkbutton>
        <sui-linkbutton asp-page="/Index" variant="Destructive">Destructive</sui-linkbutton>
        <sui-linkbutton asp-page="/Index" variant="Ghost">Ghost</sui-linkbutton>
        <sui-linkbutton asp-page="/Index" variant="Link">Link</sui-linkbutton>
    </div>
    <div class="flex gap-x-2">
        <sui-button variant="Outline">
            <sui-icon name="git-branch"/>
            New Branch
        </sui-button>
        <sui-button>
            <sui-icon name="circle-plus"/>
            Quick Create
        </sui-button>
        <sui-button variant="Outline" size="Icon" class="rounded-full">
            <sui-icon name="git-branch"/>
        </sui-button>
        <sui-button variant="Outline" disabled>
            <sui-icon name="loader-circle" class="animate-spin"/> Submit
        </sui-button>
    </div>
</div>