@page
@model ComponentPlayground.Pages.Demo.Checkbox

<sa-container class="py-6 lg:py-8">
    <sa-stack>
        <h2 class="bg-gray-100 text-base font-bold">Unbound checkbox</h2>
        <div>
            <sa-input type="checkbox"/>
        </div>
        <h2 class="bg-gray-100 text-base font-bold">Bound checkbox</h2>
        <div>
            <sa-input asp-for="Model.BooleanValue"/>
        </div>
        <h2 class="bg-gray-100 text-base font-bold">Bound checkbox with error</h2>
        <div>
            <sa-input asp-for="Model.AcceptTerms"/>
        </div>
        @*<h2 class="bg-gray-100 text-base font-bold">Checkbox group</h2>
        <div class="w-full max-w-md">
            <sa-field-group>
                <sa-field-set>
                    <sa-field-label>Tasks</sa-field-label>
                    <sa-field-description>
                        Get notified when tasks you&apos;ve created have updates. <a href="#">Manage tasks</a>
                    </sa-field-description>
                    <sa-checkbox-group>
                        <sa-field-label>
                            <sa-field orientation="Horizontal">
                                <sa-input asp-for="Model.EnablePushNotifications"/>
                                <sa-field-content>
                                    <sa-field-title>Push notifications</sa-field-title>
                                    <sa-field-description>
                                        Receive push notifications on your mobile device
                                    </sa-field-description>
                                </sa-field-content>
                            </sa-field>
                        </sa-field-label>
                        <sa-field-label>
                            <sa-field orientation="Horizontal">
                                <sa-input asp-for="Model.EnableEmailNotifications"/>
                                <sa-field-content>
                                    <sa-field-title>Email notifications</sa-field-title>
                                    <sa-field-description>
                                        Receive notifications via your registered email address
                                    </sa-field-description>
                                </sa-field-content>
                            </sa-field>
                        </sa-field-label>
                    </sa-checkbox-group>
                </sa-field-set>
            </sa-field-group>
        </div>
        <h2 class="bg-gray-100 text-base font-bold">Checkbox group (with cards)</h2>
        <div class="w-full max-w-md">
            <sa-field-group>
                <sa-field-set>
                    <sa-field-label>Tasks</sa-field-label>
                    <sa-field-description>
                        Get notified when tasks you&apos;ve created have updates. <a href="#">Manage tasks</a>
                    </sa-field-description>
                    <sa-checkbox-group>
                        <sa-field orientation="Horizontal">
                            <sa-input asp-for="Model.EnablePushNotifications" id="notifications-push"/>
                            <sa-field-label for="notifications-push">
                                Push notifications
                            </sa-field-label>
                        </sa-field>
                        <sa-field orientation="Horizontal">
                            <sa-input asp-for="Model.EnableEmailNotifications" id="notifications-email"/>
                            <sa-field-label for="notifications-email">
                                Email notifications
                            </sa-field-label>
                        </sa-field>
                    </sa-checkbox-group>
                </sa-field-set>
            </sa-field-group>
        </div>*@
    </sa-stack>
</sa-container>