@page
@model ComponentPlayground.Pages.Demo.Checkbox

<dui-container class="py-6 lg:py-8">
    <dui-stack>
        <h2 class="bg-gray-100 text-base font-bold">Unbound checkbox</h2>
        <div>
            <dui-input type="checkbox"/>
        </div>
        <h2 class="bg-gray-100 text-base font-bold">Bound checkbox</h2>
        <div>
            <dui-input asp-for="Model.BooleanValue"/>
        </div>
        <h2 class="bg-gray-100 text-base font-bold">Bound checkbox with error</h2>
        <div>
            <dui-input asp-for="Model.AcceptTerms"/>
        </div>
        @*<h2 class="bg-gray-100 text-base font-bold">Checkbox group</h2>
        <div class="w-full max-w-md">
            <dui-field-group>
                <dui-field-set>
                    <dui-field-label>Tasks</dui-field-label>
                    <dui-field-description>
                        Get notified when tasks you&apos;ve created have updates. <a href="#">Manage tasks</a>
                    </dui-field-description>
                    <dui-checkbox-group>
                        <dui-field-label>
                            <dui-field orientation="Horizontal">
                                <dui-input asp-for="Model.EnablePushNotifications"/>
                                <dui-field-content>
                                    <dui-field-title>Push notifications</dui-field-title>
                                    <dui-field-description>
                                        Receive push notifications on your mobile device
                                    </dui-field-description>
                                </dui-field-content>
                            </dui-field>
                        </dui-field-label>
                        <dui-field-label>
                            <dui-field orientation="Horizontal">
                                <dui-input asp-for="Model.EnableEmailNotifications"/>
                                <dui-field-content>
                                    <dui-field-title>Email notifications</dui-field-title>
                                    <dui-field-description>
                                        Receive notifications via your registered email address
                                    </dui-field-description>
                                </dui-field-content>
                            </dui-field>
                        </dui-field-label>
                    </dui-checkbox-group>
                </dui-field-set>
            </dui-field-group>
        </div>
        <h2 class="bg-gray-100 text-base font-bold">Checkbox group (with cards)</h2>
        <div class="w-full max-w-md">
            <dui-field-group>
                <dui-field-set>
                    <dui-field-label>Tasks</dui-field-label>
                    <dui-field-description>
                        Get notified when tasks you&apos;ve created have updates. <a href="#">Manage tasks</a>
                    </dui-field-description>
                    <dui-checkbox-group>
                        <dui-field orientation="Horizontal">
                            <dui-input asp-for="Model.EnablePushNotifications" id="notifications-push"/>
                            <dui-field-label for="notifications-push">
                                Push notifications
                            </dui-field-label>
                        </dui-field>
                        <dui-field orientation="Horizontal">
                            <dui-input asp-for="Model.EnableEmailNotifications" id="notifications-email"/>
                            <dui-field-label for="notifications-email">
                                Email notifications
                            </dui-field-label>
                        </dui-field>
                    </dui-checkbox-group>
                </dui-field-set>
            </dui-field-group>
        </div>*@
    </dui-stack>
</dui-container>