@page
@using StellarAdmin.TagHelpers
@model ComponentPlayground.Pages.Demo.Empty

<div class="max-w-xl">
    <sa-empty>
        <sa-empty-header>
            <sa-empty-media variant="Icon">
                <sa-icon name="folder-code"/>
            </sa-empty-media>
            <sa-empty-title>No Projects Yet</sa-empty-title>
            <sa-empty-description>
                You haven&apos;t created any projects yet. Get started by creating
                your first project.
            </sa-empty-description>
        </sa-empty-header>
        <sa-empty-content>
            <div class="flex gap-2">
                <sa-button>Create Project</sa-button>
                <sa-button variant="ButtonVariant.Outline">Import Project</sa-button>
            </div>
        </sa-empty-content>
        <sa-linkbutton
            variant="ButtonVariant.Link"
            class="text-muted-foreground"
            size="ButtonSize.Small"
            href="#"
        >
            Learn More
            <sa-icon name="arrow-up-right"/>
        </sa-linkbutton>
    </sa-empty>
</div>