@page
@using DuneUI.TagHelpers
@model ComponentPlayground.Pages.Demo.Empty

<div class="max-w-xl">
    <dui-empty>
        <dui-empty-header>
            <dui-empty-media variant="Icon">
                <dui-icon name="folder-code"/>
            </dui-empty-media>
            <dui-empty-title>No Projects Yet</dui-empty-title>
            <dui-empty-description>
                You haven&apos;t created any projects yet. Get started by creating
                your first project.
            </dui-empty-description>
        </dui-empty-header>
        <dui-empty-content>
            <div class="flex gap-2">
                <dui-button>Create Project</dui-button>
                <dui-button variant="ButtonVariant.Outline">Import Project</dui-button>
            </div>
        </dui-empty-content>
        <dui-linkbutton
            variant="ButtonVariant.Link"
            class="text-muted-foreground"
            size="ButtonSize.Small"
            href="#"
        >
            Learn More
            <dui-icon name="arrow-up-right"/>
        </dui-linkbutton>
    </dui-empty>
</div>