@page
@using DuneUI.TagHelpers
@model ComponentPlayground.Pages.Demo.Field

<div class="flex flex-col gap-y-4 p-12">
  <p>Field</p>
  <dui-field>
    <dui-field-label>
      First Name
    </dui-field-label>
    <dui-input/>
    <dui-field-error>This is a super-dooper error</dui-field-error>
    <dui-field-description>
      First name as displayed on card
    </dui-field-description>
  </dui-field>
  <dui-separator />
  <p>Field using shorthand</p>
  <dui-input render-field="false" 
            label="First Name" 
            description="First name as displayed on card" 
            error="This is a super-dooper error"/>
  <dui-separator />
  <p>Explicit field bound to model</p>
  <dui-field>
    <dui-field-label asp-for="Model.FirstName"/>
    <dui-input asp-for="Model.FirstName"/>
    <dui-field-error asp-for="Model.FirstName"/>
    <dui-field-description asp-for="Model.FirstName"/>
  </dui-field>
  <dui-separator />
  <p>Implicit field bound to model</p>
  <dui-input asp-for="Model.FirstName"/>
  <dui-separator />
  <p>Card</p>
  <dui-card class="w-full max-w-md">
    <dui-card-content>
      <form>
        <dui-field-group>
          <dui-field-set>
            <dui-field-legend>Payment Method</dui-field-legend>
            <dui-field-description>
              All transactions are secure and encrypted
            </dui-field-description>
            <dui-field-group>
              <dui-field>
                <dui-field-label for="checkout-7j9-card-name-43j">
                  Name on Card
                </dui-field-label>
                <dui-input
                  id="checkout-7j9-card-name-43j"
                  placeholder="Evil Rabbit"
                  required/>
              </dui-field>
              <dui-field>
                <dui-field-label for="checkout-7j9-card-number-uw1">
                  Card Number
                </dui-field-label>
                <dui-input
                  id="checkout-7j9-card-number-uw1"
                  placeholder="1234 5678 9012 3456"
                  required/>
                <dui-field-description>
                  Enter your 16-digit card number
                </dui-field-description>
              </dui-field>
              <div class="grid grid-cols-3 gap-4">
                <dui-field>
                  <dui-field-label for="checkout-exp-month-ts6">
                    Month
                  </dui-field-label>
                  <dui-select>
                    <option value="01">01</option>
                    <option value="02">02</option>
                    <option value="03">03</option>
                    <option value="04">04</option>
                    <option value="05">05</option>
                    <option value="06">06</option>
                    <option value="07">07</option>
                    <option value="08">08</option>
                    <option value="09">09</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                  </dui-select>
                </dui-field>
                <dui-field>
                  <dui-field-label for="checkout-7j9-exp-year-f59">
                    Year
                  </dui-field-label>
                  <dui-select defaultValue="">
                    <option value="2024">2024</option>
                    <option value="2025">2025</option>
                    <option value="2026">2026</option>
                    <option value="2027">2027</option>
                    <option value="2028">2028</option>
                    <option value="2029">2029</option>
                  </dui-select>
                </dui-field>
                <dui-field>
                  <dui-field-label for="checkout-7j9-cvv">CVV</dui-field-label>
                  <dui-input id="checkout-7j9-cvv" placeholder="123" required/>
                </dui-field>
              </div>
            </dui-field-group>
          </dui-field-set>
          <dui-field-separator/>
          <dui-field-set>
            <dui-field-legend>Billing Address</dui-field-legend>
            <dui-field-description>
              The billing address associated with your payment method
            </dui-field-description>
            <dui-field-group>
              <dui-field orientation="FieldOrientation.Horizontal">
                <dui-input
                  type="checkbox"
                  id="checkout-7j9-same-as-shipping-wgm"/>
                <dui-field-label
                  htmlFor="checkout-7j9-same-as-shipping-wgm"
                  class="font-normal">
                  Same as shipping address
                </dui-field-label>
              </dui-field>
            </dui-field-group>
          </dui-field-set>
          <dui-field-set>
            <dui-field-group>
              <dui-field>
                <dui-field-label for="checkout-7j9-optional-comments">
                  Comments
                </dui-field-label>
                <dui-textarea
                  id="checkout-7j9-optional-comments"
                  name="checkout-7j9-optional-comments"
                  placeholder="Add any additional comments"
                  class="resize-none">These are some comments...
                </dui-textarea>
              </dui-field>
            </dui-field-group>
          </dui-field-set>
          <dui-field orientation="FieldOrientation.Horizontal">
            <dui-button type="submit">Submit</dui-button>
            <dui-button variant="ButtonVariant.Outline" type="button">
              Cancel
            </dui-button>
          </dui-field>
        </dui-field-group>
      </form>
    </dui-card-content>
  </dui-card>

  <dui-card class="w-full max-w-4xl">
    <dui-card-content>
      <form>
        <dui-field-set>
          <dui-field-legend>Profile</dui-field-legend>
          <dui-field-description>Fill in your profile information.</dui-field-description>
          <dui-field-separator/>
          <dui-field-group>
            <dui-field orientation="FieldOrientation.Responsive">
              <dui-field-content>
                <dui-field-label for="name">Name</dui-field-label>
                <dui-field-description>
                  Provide your full name for identification
                </dui-field-description>
              </dui-field-content>
              <dui-input id="name" placeholder="Evil Rabbit" required/>
            </dui-field>
            <dui-field-separator/>
            <dui-field orientation="FieldOrientation.Responsive">
              <dui-field-content>
                <dui-field-label form="lastName">Message</dui-field-label>
                <dui-field-description>
                  You can write your message here. Keep it short, preferably
                  under 100 characters.
                </dui-field-description>
              </dui-field-content>
              <dui-textarea
                id="message"
                placeholder="Hello, world!"
                required
                class="min-h-[100px] resize-none sm:min-w-[300px]"></dui-textarea>
            </dui-field>
            <dui-field-separator/>
            <dui-field orientation="FieldOrientation.Responsive">
              <dui-button type="submit">Submit</dui-button>
              <dui-button type="button" variant="ButtonVariant.Outline">
                Cancel
              </dui-button>
            </dui-field>
          </dui-field-group>
        </dui-field-set>
      </form>
    </dui-card-content>
  </dui-card>
</div>