@page
@model ComponentPlayground.Pages.Demo.Group

<sa-container>
    <sa-stack>
        <h2 class="text-lg">Gap sizes</h2>
        <p>Extra small</p>
        <sa-group gap="ExtraSmall" class="max-w-3xl font-mono text-sm leading-6 font-bold text-white bg-indigo-100 rounded">
            <div class="flex items-center justify-center rounded-lg bg-indigo-500 p-4">01</div>
            <div class="flex items-center justify-center rounded-lg bg-indigo-500 p-4">02</div>
            <div class="flex items-center justify-center rounded-lg bg-indigo-500 p-4">03</div>
        </sa-group>
        <p>Small</p>
        <sa-group gap="Small" class="max-w-3xl font-mono text-sm leading-6 font-bold text-white bg-indigo-100 rounded">
            <div class="flex items-center justify-center rounded-lg bg-indigo-500 p-4">01</div>
            <div class="flex items-center justify-center rounded-lg bg-indigo-500 p-4">02</div>
            <div class="flex items-center justify-center rounded-lg bg-indigo-500 p-4">03</div>
        </sa-group>
        <p>Default</p>
        <sa-group class="max-w-3xl font-mono text-sm leading-6 font-bold text-white bg-indigo-100 rounded">
            <div class="flex items-center justify-center rounded-lg bg-indigo-500 p-4">01</div>
            <div class="flex items-center justify-center rounded-lg bg-indigo-500 p-4">02</div>
            <div class="flex items-center justify-center rounded-lg bg-indigo-500 p-4">03</div>
        </sa-group>
        <p>Large</p>
        <sa-group gap="Large" class="max-w-3xl font-mono text-sm leading-6 font-bold text-white bg-indigo-100 rounded">
            <div class="flex items-center justify-center rounded-lg bg-indigo-500 p-4">01</div>
            <div class="flex items-center justify-center rounded-lg bg-indigo-500 p-4">02</div>
            <div class="flex items-center justify-center rounded-lg bg-indigo-500 p-4">03</div>
        </sa-group>
        <p>Extra large</p>
        <sa-group gap="ExtraLarge" class="max-w-3xl font-mono text-sm leading-6 font-bold text-white bg-indigo-100 rounded">
            <div class="flex items-center justify-center rounded-lg bg-indigo-500 p-4">01</div>
            <div class="flex items-center justify-center rounded-lg bg-indigo-500 p-4">02</div>
            <div class="flex items-center justify-center rounded-lg bg-indigo-500 p-4">03</div>
        </sa-group>
        <h2 class="text-lg">Align</h2>
        <p>Stretch</p>
        <sa-group align="Stretch" class="max-w-3xl font-mono text-sm leading-6 font-bold text-white bg-indigo-100 rounded">
            <div class="flex flex-1 items-center justify-center rounded-lg bg-indigo-500 py-4">01</div>
            <div class="flex flex-1 items-center justify-center rounded-lg bg-indigo-500 py-12">02</div>
            <div class="flex flex-1 items-center justify-center rounded-lg bg-indigo-500 py-8">03</div>
        </sa-group>
        <p>Start</p>
        <sa-group align="Start" class="max-w-3xl font-mono text-sm leading-6 font-bold text-white bg-indigo-100 rounded">
            <div class="flex flex-1 items-center justify-center rounded-lg bg-indigo-500 py-4">01</div>
            <div class="flex flex-1 items-center justify-center rounded-lg bg-indigo-500 py-12">02</div>
            <div class="flex flex-1 items-center justify-center rounded-lg bg-indigo-500 py-8">03</div>
        </sa-group>
        <p>Center</p>
        <sa-group align="Center" class="max-w-3xl font-mono text-sm leading-6 font-bold text-white bg-indigo-100 rounded">
            <div class="flex flex-1 items-center justify-center rounded-lg bg-indigo-500 py-4">01</div>
            <div class="flex flex-1 items-center justify-center rounded-lg bg-indigo-500 py-12">02</div>
            <div class="flex flex-1 items-center justify-center rounded-lg bg-indigo-500 py-8">03</div>
        </sa-group>
        <p>End</p>
        <sa-group align="End" class="max-w-3xl font-mono text-sm leading-6 font-bold text-white bg-indigo-100 rounded">
            <div class="flex flex-1 items-center justify-center rounded-lg bg-indigo-500 py-4">01</div>
            <div class="flex flex-1 items-center justify-center rounded-lg bg-indigo-500 py-12">02</div>
            <div class="flex flex-1 items-center justify-center rounded-lg bg-indigo-500 py-8">03</div>
        </sa-group>
        <p>Baseline</p>
        <sa-group align="Baseline" class="max-w-3xl font-mono text-sm leading-6 font-bold text-white bg-indigo-100 rounded">
            <div class="flex flex-1 items-center justify-center rounded-lg bg-indigo-500 pt-2 pb-6">01</div>
            <div class="flex flex-1 items-center justify-center rounded-lg bg-indigo-500 pt-8 pb-12">02</div>
            <div class="flex flex-1 items-center justify-center rounded-lg bg-indigo-500 pt-12 pb-4">03</div>
        </sa-group>
        <h2 class="text-lg">Justify</h2>
        <p>Start</p>
        <sa-group justify="Start" class="max-w-3xl font-mono text-sm leading-6 font-bold text-white bg-indigo-100 rounded">
            <div class="flex items-center justify-center rounded-lg bg-indigo-500 p-4">01</div>
            <div class="flex items-center justify-center rounded-lg bg-indigo-500 p-4">02</div>
            <div class="flex items-center justify-center rounded-lg bg-indigo-500 p-4">03</div>
        </sa-group>
        <p>Center</p>
        <sa-group justify="Center" class="max-w-3xl font-mono text-sm leading-6 font-bold text-white bg-indigo-100 rounded">
            <div class="flex items-center justify-center rounded-lg bg-indigo-500 p-4">01</div>
            <div class="flex items-center justify-center rounded-lg bg-indigo-500 p-4">02</div>
            <div class="flex items-center justify-center rounded-lg bg-indigo-500 p-4">03</div>
        </sa-group>
        <p>End</p>
        <sa-group justify="End" class="max-w-3xl font-mono text-sm leading-6 font-bold text-white bg-indigo-100 rounded">
            <div class="flex items-center justify-center rounded-lg bg-indigo-500 p-4">01</div>
            <div class="flex items-center justify-center rounded-lg bg-indigo-500 p-4">02</div>
            <div class="flex items-center justify-center rounded-lg bg-indigo-500 p-4">03</div>
        </sa-group>
        <p>Justify between</p>
        <sa-group justify="SpaceBetween" class="max-w-3xl font-mono text-sm leading-6 font-bold text-white bg-indigo-100 rounded">
            <div class="flex items-center justify-center rounded-lg bg-indigo-500 p-4">01</div>
            <div class="flex items-center justify-center rounded-lg bg-indigo-500 p-4">02</div>
            <div class="flex items-center justify-center rounded-lg bg-indigo-500 p-4">03</div>
        </sa-group>
        <p>Justify around</p>
        <sa-group justify="SpaceAround" class="max-w-3xl font-mono text-sm leading-6 font-bold text-white bg-indigo-100 rounded">
            <div class="flex items-center justify-center rounded-lg bg-indigo-500 p-4">01</div>
            <div class="flex items-center justify-center rounded-lg bg-indigo-500 p-4">02</div>
            <div class="flex items-center justify-center rounded-lg bg-indigo-500 p-4">03</div>
        </sa-group>
    </sa-stack>
</sa-container>