@page
@inject IIconManager IconManager
@using DuneUI.Icons
@model ComponentPlayground.Pages.Demo.Icon

<div class="flex flex-col gap-y-4">
    <h2>Icon</h2>

    <dui-icon name="huh!?"/>
    
    <dui-icon name="align-horizontal-justify-center"/>

    <dui-icon stroke-width="1" name="align-horizontal-justify-center"/>

    <dui-icon stroke-width="4" name="align-horizontal-justify-center"/>

    <dui-icon name="align-horizontal-justify-center"/>

    <div class="flex flex-wrap gap-x-2 gap-y-2">
        @foreach (var iconName in IconManager.GetIconNames())
        {
            <dui-icon name="@iconName" stroke-width="1"/>
        }
    </div>
</div>