@page
@model ComponentPlayground.Pages.Demo.Item

<sui-item>
    <sui-item-content>
        <sui-item-title>Basic Item</sui-item-title>
        <sui-item-description>
            A simple item with title and description.
        </sui-item-description>
    </sui-item-content>
</sui-item>

<sui-item variant="Muted">
    <sui-item-content>
        <sui-item-title>Basic Item</sui-item-title>
        <sui-item-description>
            A simple item with title and description.
        </sui-item-description>
    </sui-item-content>
</sui-item>
<p>&nbsp;</p>
<sui-item variant="Outline">
    <sui-item-content>
        <sui-item-title>Basic Item</sui-item-title>
        <sui-item-description>
            A simple item with title and description.
        </sui-item-description>
    </sui-item-content>
</sui-item>
<p>&nbsp;</p>
<sui-item variant="Outline" size="Small">
    <sui-item-media>
        <sui-icon name="badge-check"/>
    </sui-item-media>
    <sui-item-content>
        <sui-item-title>Your profile has been verified.</sui-item-title>
    </sui-item-content>
    <sui-item-actions>
        <sui-icon name="chevron-right"/>
    </sui-item-actions>
</sui-item>
<p>&nbsp;</p>
<sui-item variant="Outline">
    <sui-item-media>
        <sui-avatar src="https://github.com/shadcn.png" />
    </sui-item-media>
    <sui-item-content>
        <sui-item-title>Jerrie Pelser</sui-item-title>
        <sui-item-description>Creator of StellarUI</sui-item-description>
    </sui-item-content>
</sui-item>
<p>&nbsp;</p>
<sui-item-group>
    <sui-item>
        <sui-item-media>
            <sui-icon name="badge-check"/>
        </sui-item-media>
        <sui-item-content>
            <sui-item-title>Basic Item</sui-item-title>
            <sui-item-description>
                A simple item with title and description.
            </sui-item-description>
        </sui-item-content>
    </sui-item>
    <sui-item-separator></sui-item-separator>
    <sui-item>
        <sui-item-media>
            <sui-icon name="badge-check"/>
        </sui-item-media>
        <sui-item-content>
            <sui-item-title>Basic Item</sui-item-title>
            <sui-item-description>
                A simple item with title and description.
            </sui-item-description>
        </sui-item-content>
    </sui-item>
    <sui-item-separator></sui-item-separator>
    <sui-item>
        <sui-item-media>
            <sui-icon name="badge-check"/>
        </sui-item-media>
        <sui-item-content>
            <sui-item-title>Basic Item</sui-item-title>
            <sui-item-description>
                A simple item with title and description.
            </sui-item-description>
        </sui-item-content>
    </sui-item>
</sui-item-group>

