@page
@using DuneUI.TagHelpers
@model ComponentPlayground.Pages.Demo.Item

<dui-item>
    <dui-item-content>
        <dui-item-title>Basic Item</dui-item-title>
        <dui-item-description>
            A simple item with title and description.
        </dui-item-description>
    </dui-item-content>
</dui-item>

<dui-item variant="ItemVariant.Muted">
    <dui-item-content>
        <dui-item-title>Basic Item</dui-item-title>
        <dui-item-description>
            A simple item with title and description.
        </dui-item-description>
    </dui-item-content>
</dui-item>
<p>&nbsp;</p>
<dui-item variant="ItemVariant.Outline">
    <dui-item-content>
        <dui-item-title>Basic Item</dui-item-title>
        <dui-item-description>
            A simple item with title and description.
        </dui-item-description>
    </dui-item-content>
</dui-item>
<p>&nbsp;</p>
<dui-item variant="ItemVariant.Outline" size="ItemSize.Small">
    <dui-item-media>
        <dui-icon name="badge-check"/>
    </dui-item-media>
    <dui-item-content>
        <dui-item-title>Your profile has been verified.</dui-item-title>
    </dui-item-content>
    <dui-item-actions>
        <dui-icon name="chevron-right"/>
    </dui-item-actions>
</dui-item>
<p>&nbsp;</p>
<dui-item variant="ItemVariant.Outline">
    <dui-item-media>
        <dui-avatar src="https://github.com/shadcn.png" />
    </dui-item-media>
    <dui-item-content>
        <dui-item-title>Jerrie Pelser</dui-item-title>
        <dui-item-description>Creator of DuneUI</dui-item-description>
    </dui-item-content>
</dui-item>
<p>&nbsp;</p>
<dui-item-group>
    <dui-item>
        <dui-item-media>
            <dui-icon name="badge-check"/>
        </dui-item-media>
        <dui-item-content>
            <dui-item-title>Basic Item</dui-item-title>
            <dui-item-description>
                A simple item with title and description.
            </dui-item-description>
        </dui-item-content>
    </dui-item>
    <dui-item-separator></dui-item-separator>
    <dui-item>
        <dui-item-media>
            <dui-icon name="badge-check"/>
        </dui-item-media>
        <dui-item-content>
            <dui-item-title>Basic Item</dui-item-title>
            <dui-item-description>
                A simple item with title and description.
            </dui-item-description>
        </dui-item-content>
    </dui-item>
    <dui-item-separator></dui-item-separator>
    <dui-item>
        <dui-item-media>
            <dui-icon name="badge-check"/>
        </dui-item-media>
        <dui-item-content>
            <dui-item-title>Basic Item</dui-item-title>
            <dui-item-description>
                A simple item with title and description.
            </dui-item-description>
        </dui-item-content>
    </dui-item>
</dui-item-group>

