@page
@model ComponentPlayground.Pages.Demo.Kbd

<div class="flex flex-col gap-y-4">
    <dui-kbd>⌘</dui-kbd>
    <dui-kbd-group>
        <dui-kbd>⌘</dui-kbd>
        <dui-kbd>⇧</dui-kbd>
        <dui-kbd>⌥</dui-kbd>
        <dui-kbd>⌃</dui-kbd>
    </dui-kbd-group>
    <dui-kbd-group>
        <dui-kbd>Ctrl</dui-kbd>
        <span>+</span>
        <dui-kbd>B</dui-kbd>
    </dui-kbd-group>
</div>