@page
@model ComponentPlayground.Pages.Demo.Kbd

<div class="flex flex-col gap-y-4">
    <sui-kbd>⌘</sui-kbd>
    <sui-kbd-group>
        <sui-kbd>⌘</sui-kbd>
        <sui-kbd>⇧</sui-kbd>
        <sui-kbd>⌥</sui-kbd>
        <sui-kbd>⌃</sui-kbd>
    </sui-kbd-group>
    <sui-kbd-group>
        <sui-kbd>Ctrl</sui-kbd>
        <span>+</span>
        <sui-kbd>B</sui-kbd>
    </sui-kbd-group>
</div>