@page
@model ComponentPlayground.Pages.Demo.Label

<div class="flex flex-col gap-y-4">
    <dui-label>Non model</dui-label>
    <dui-label asp-for="Model.FirstName" />
    <dui-label asp-for="Model.MiddleName">Middle name:</dui-label>
    <dui-label asp-for="Model.LastName"/>
</div>