@page
@model ComponentPlayground.Pages.Demo.Label

<div class="flex flex-col gap-y-4">
    <sui-label>Non model</sui-label>
    <sui-label asp-for="Model.FirstName"></sui-label>
    <sui-label asp-for="Model.MiddleName">Middle name:</sui-label>
    <sui-label asp-for="Model.LastName"></sui-label>
</div>