@page
@model ComponentPlayground.Pages.Demo.Label

<div class="flex flex-col gap-y-4">
    <sa-label>Non model</sa-label>
    <sa-label asp-for="Model.FirstName" />
    <sa-label asp-for="Model.MiddleName">Middle name:</sa-label>
    <sa-label asp-for="Model.LastName"/>
</div>