@page
@model ComponentPlayground.Pages.Demo.Progress

<div class="flex flex-col gap-y-4 mx-24">
    <sui-progress value="50" class="h-4">
        <sui-progress-indicator />
    </sui-progress>
    <sui-progress minimum="100" maximum="200" value="120">
        <sui-progress-indicator/>
    </sui-progress>
    <sui-progress minimum="100" maximum="200" value="120" class="h-8 bg-red-200 rounded-none">
        <sui-progress-indicator class="bg-red-500"/>
    </sui-progress>
</div>