@page
@model ComponentPlayground.Pages.Demo.Select

<sa-container class="py-6 lg:py-8">
    <div class="grid grid-cols-2 gap-4">
        <h2 class="col-span-2 bg-gray-100 text-base font-bold">Basic select</h2>
        <div>
            <sa-select>
                <option value="ALL">All</option>
                <option value="ELECT">Electronics</option>
                <option value="CLOTH">Clothing</option>
                <option value="HOME">Home & Garden</option>
                <option value="BOOKS">Books</option>
                <option value="BEAUT">Beauty & Personal Care</option>
                <option value="SPORT">Sports & Outdoors</option>
                <option value="TOYS">Toys & Games</option>
                <option value="AUTOS">Automotive</option>
                <option value="JEWEL">Jewelry</option>
                <option value="HEALT">Health & Wellness</option>
            </sa-select>
        </div>
        <div>
            <select class="form-select">
                <option value="ALL">All</option>
                <option value="ELECT">Electronics</option>
                <option value="CLOTH">Clothing</option>
                <option value="HOME">Home & Garden</option>
                <option value="BOOKS">Books</option>
                <option value="BEAUT">Beauty & Personal Care</option>
                <option value="SPORT">Sports & Outdoors</option>
                <option value="TOYS">Toys & Games</option>
                <option value="AUTOS">Automotive</option>
                <option value="JEWEL">Jewelry</option>
                <option value="HEALT">Health & Wellness</option>
            </select>
        </div>
        <h2 class="col-span-2 bg-gray-100 text-base font-bold">Data bound value</h2>
        <div>
            <sa-select asp-for="Model.SelectedCategory">
                <option value="ALL">All</option>
                <option value="ELECT">Electronics</option>
                <option value="CLOTH">Clothing</option>
                <option value="HOME">Home & Garden</option>
                <option value="BOOKS">Books</option>
                <option value="BEAUT">Beauty & Personal Care</option>
                <option value="SPORT">Sports & Outdoors</option>
                <option value="TOYS">Toys & Games</option>
                <option value="AUTOS">Automotive</option>
                <option value="JEWEL">Jewelry</option>
                <option value="HEALT">Health & Wellness</option>
            </sa-select>
        </div>
        <div>
            <select asp-for="Model.SelectedCategory" class="form-select">
                <option value="ALL">All</option>
                <option value="ELECT">Electronics</option>
                <option value="CLOTH">Clothing</option>
                <option value="HOME">Home & Garden</option>
                <option value="BOOKS">Books</option>
                <option value="BEAUT">Beauty & Personal Care</option>
                <option value="SPORT">Sports & Outdoors</option>
                <option value="TOYS">Toys & Games</option>
                <option value="AUTOS">Automotive</option>
                <option value="JEWEL">Jewelry</option>
                <option value="HEALT">Health & Wellness</option>
            </select>
        </div>
        <h2 class="col-span-2 bg-gray-100 text-base font-bold">Data bound items and an additional explicit option</h2>
        <div>
            <sa-select asp-items="Model.Model.Categories">
                <option value="">-- Select a value --</option>
            </sa-select>
        </div>
        <div>
            <select asp-items="Model.Model.Categories" class="form-select">
                <option value="">-- Select a value --</option>
            </select>
        </div>
        <h2 class="col-span-2 bg-gray-100 text-base font-bold">Data bound value and items</h2>
        <div>
            <sa-select asp-for="Model.SelectedCategory" asp-items="Model.Model.Categories">
                <option value="">-- Select a value --</option>
            </sa-select>
        </div>
        <div>
            <select asp-for="Model.SelectedCategory" asp-items="Model.Model.Categories" class="form-select">
                <option value="">-- Select a value --</option>
            </select>
        </div>
        <h2 class="col-span-2 bg-gray-100 text-base font-bold">Data bound enum</h2>
        <div>
            <sa-select asp-for="Model.SelectedEnumCategory" asp-items="@Html.GetEnumSelectList<ProductCategory>()" >
            </sa-select>
        </div>
        <div>
            <select asp-for="Model.SelectedEnumCategory" asp-items="@Html.GetEnumSelectList<ProductCategory>()" class="form-select">
            </select>
        </div>
        <h2 class="col-span-2 bg-gray-100 text-base font-bold">Binding to an array</h2>
        <div>
            <sa-select asp-for="Model.SelectedCategories" asp-items="Model.Model.Categories" >
            </sa-select>
        </div>
        <div>
            <select asp-for="Model.SelectedCategories" asp-items="Model.Model.Categories" class="form-select">
            </select>
        </div>
    </div>
</sa-container>