@page
@model ComponentPlayground.Pages.Demo.Select

<sui-container class="py-6 lg:py-8">
    <div class="grid grid-cols-2 gap-4">
        <h2 class="col-span-2 bg-gray-100 text-base font-bold">Basic select</h2>
        <div>
            <sui-select>
                <option value="ALL">All</option>
                <option value="ELECT">Electronics</option>
                <option value="CLOTH">Clothing</option>
                <option value="HOME">Home & Garden</option>
                <option value="BOOKS">Books</option>
                <option value="BEAUT">Beauty & Personal Care</option>
                <option value="SPORT">Sports & Outdoors</option>
                <option value="TOYS">Toys & Games</option>
                <option value="AUTOS">Automotive</option>
                <option value="JEWEL">Jewelry</option>
                <option value="HEALT">Health & Wellness</option>
            </sui-select>
        </div>
        <div>
            <select>
                <option value="ALL">All</option>
                <option value="ELECT">Electronics</option>
                <option value="CLOTH">Clothing</option>
                <option value="HOME">Home & Garden</option>
                <option value="BOOKS">Books</option>
                <option value="BEAUT">Beauty & Personal Care</option>
                <option value="SPORT">Sports & Outdoors</option>
                <option value="TOYS">Toys & Games</option>
                <option value="AUTOS">Automotive</option>
                <option value="JEWEL">Jewelry</option>
                <option value="HEALT">Health & Wellness</option>
            </select>
        </div>
        <h2 class="col-span-2 bg-gray-100 text-base font-bold">Data bound value</h2>
        <div>
            <sui-select asp-for="Model.Category" render-field="false">
                <option value="ALL">All</option>
                <option value="ELECT">Electronics</option>
                <option value="CLOTH">Clothing</option>
                <option value="HOME">Home & Garden</option>
                <option value="BOOKS">Books</option>
                <option value="BEAUT">Beauty & Personal Care</option>
                <option value="SPORT">Sports & Outdoors</option>
                <option value="TOYS">Toys & Games</option>
                <option value="AUTOS">Automotive</option>
                <option value="JEWEL">Jewelry</option>
                <option value="HEALT">Health & Wellness</option>
            </sui-select>
        </div>
        <div>
            <select asp-for="Model.Category">
                <option value="ALL">All</option>
                <option value="ELECT">Electronics</option>
                <option value="CLOTH">Clothing</option>
                <option value="HOME">Home & Garden</option>
                <option value="BOOKS">Books</option>
                <option value="BEAUT">Beauty & Personal Care</option>
                <option value="SPORT">Sports & Outdoors</option>
                <option value="TOYS">Toys & Games</option>
                <option value="AUTOS">Automotive</option>
                <option value="JEWEL">Jewelry</option>
                <option value="HEALT">Health & Wellness</option>
            </select>
        </div>
        <h2 class="col-span-2 bg-gray-100 text-base font-bold">Data bound items and an additional explicit option</h2>
        <div>
            <sui-select asp-items="Model.Model.Categories">
                <option value="">-- Select a value --</option>
            </sui-select>
        </div>
        <div>
            <select asp-items="Model.Model.Categories">
                <option value="">-- Select a value --</option>
            </select>
        </div>
        <h2 class="col-span-2 bg-gray-100 text-base font-bold">Data bound value and items</h2>
        <div>
            <sui-select asp-for="Model.Category" asp-items="Model.Model.Categories" render-field="false">
                <option value="">-- Select a value --</option>
            </sui-select>
        </div>
        <div>
            <select asp-for="Model.Category" asp-items="Model.Model.Categories">
                <option value="">-- Select a value --</option>
            </select>
        </div>
        <h2 class="col-span-2 bg-gray-100 text-base font-bold">Data bound enum</h2>
        <div>
            <sui-select asp-for="Model.CategoryEnum" asp-items="@Html.GetEnumSelectList<ProductCategory>()" >
            </sui-select>
        </div>
        <div>
            <select asp-for="Model.CategoryEnum" asp-items="@Html.GetEnumSelectList<ProductCategory>()" >
            </select>
        </div>
    </div>
</sui-container>