@page
@model ComponentPlayground.Pages.Demo.Separator

<div class="max-w-sm mx-auto">
    <div class="space-y-1">
        <h4 class="text-sm leading-none font-medium">StellarUI</h4>
        <p class="text-muted-foreground text-sm">
            An open-source UI component library for Razor.
        </p>
    </div>
    <sa-separator class="my-4" />
    <div class="flex h-5 items-center space-x-4 text-sm">
        <div>Blog</div>
        <sa-separator orientation="Vertical" />
        <div>Docs</div>
        <sa-separator orientation="Vertical" />
        <div>Source</div>
    </div>
</div>