@page
@using DuneUI.TagHelpers
@model ComponentPlayground.Pages.Demo.Separator

<div class="max-w-sm mx-auto">
    <div class="space-y-1">
        <h4 class="text-sm leading-none font-medium">DuneUI</h4>
        <p class="text-muted-foreground text-sm">
            An open-source UI component library for Razor.
        </p>
    </div>
    <dui-separator class="my-4" />
    <div class="flex h-5 items-center space-x-4 text-sm">
        <div>Blog</div>
        <dui-separator orientation="SeparatorOrientation.Vertical" />
        <div>Docs</div>
        <dui-separator orientation="SeparatorOrientation.Vertical" />
        <div>Source</div>
    </div>
</div>