@page
@using StellarAdmin.TagHelpers
@model ComponentPlayground.Pages.Demo.Stack

<sa-container class="py-6 lg:py-8">
    <sa-stack>
        <h2 class="text-lg">Gap sizes</h2>
        <p>Extra small</p>
        <sa-stack gap="StackGap.ExtraSmall" class="max-w-xs font-mono text-sm leading-6 font-bold text-white bg-indigo-100 rounded">
            <div class="flex items-center justify-center rounded-lg bg-indigo-500 p-4">01</div>
            <div class="flex items-center justify-center rounded-lg bg-indigo-500 p-4">02</div>
            <div class="flex items-center justify-center rounded-lg bg-indigo-500 p-4">03</div>
        </sa-stack>
        <p>Small</p>
        <sa-stack gap="StackGap.Small" class="max-w-xs font-mono text-sm leading-6 font-bold text-white bg-indigo-100 rounded">
            <div class="flex items-center justify-center rounded-lg bg-indigo-500 p-4">01</div>
            <div class="flex items-center justify-center rounded-lg bg-indigo-500 p-4">02</div>
            <div class="flex items-center justify-center rounded-lg bg-indigo-500 p-4">03</div>
        </sa-stack>
        <p>Default</p>
        <sa-stack class="max-w-xs font-mono text-sm leading-6 font-bold text-white bg-indigo-100 rounded">
            <div class="flex items-center justify-center rounded-lg bg-indigo-500 p-4">01</div>
            <div class="flex items-center justify-center rounded-lg bg-indigo-500 p-4">02</div>
            <div class="flex items-center justify-center rounded-lg bg-indigo-500 p-4">03</div>
        </sa-stack>
        <p>Large</p>
        <sa-stack gap="StackGap.Large" class="max-w-xs font-mono text-sm leading-6 font-bold text-white bg-indigo-100 rounded">
            <div class="flex items-center justify-center rounded-lg bg-indigo-500 p-4">01</div>
            <div class="flex items-center justify-center rounded-lg bg-indigo-500 p-4">02</div>
            <div class="flex items-center justify-center rounded-lg bg-indigo-500 p-4">03</div>
        </sa-stack>
        <p>Extra large</p>
        <sa-stack gap="StackGap.ExtraLarge" class="max-w-xs font-mono text-sm leading-6 font-bold text-white bg-indigo-100 rounded">
            <div class="flex items-center justify-center rounded-lg bg-indigo-500 p-4">01</div>
            <div class="flex items-center justify-center rounded-lg bg-indigo-500 p-4">02</div>
            <div class="flex items-center justify-center rounded-lg bg-indigo-500 p-4">03</div>
        </sa-stack>
        <h2 class="text-lg">Align</h2>
        <p>Stretch</p>
        <sa-stack align="StackAlign.Stretch" class="max-w-xs font-mono text-sm leading-6 font-bold text-white bg-indigo-100 rounded">
            <div class="flex items-center justify-center rounded-lg bg-indigo-500 py-4 px-12">01</div>
            <div class="flex items-center justify-center rounded-lg bg-indigo-500 py-4 px-4">02</div>
            <div class="flex items-center justify-center rounded-lg bg-indigo-500 py-4 px-6">03</div>
        </sa-stack>
        <p>Start</p>
        <sa-stack align="StackAlign.Start" class="max-w-xs font-mono text-sm leading-6 font-bold text-white bg-indigo-100 rounded">
            <div class="flex items-center justify-center rounded-lg bg-indigo-500 py-4 px-12">01</div>
            <div class="flex items-center justify-center rounded-lg bg-indigo-500 py-4 px-4">02</div>
            <div class="flex items-center justify-center rounded-lg bg-indigo-500 py-4 px-6">03</div>
        </sa-stack>
        <p>End</p>
        <sa-stack align="StackAlign.End" class="max-w-xs font-mono text-sm leading-6 font-bold text-white bg-indigo-100 rounded">
            <div class="flex items-center justify-center rounded-lg bg-indigo-500 py-4 px-12">01</div>
            <div class="flex items-center justify-center rounded-lg bg-indigo-500 py-4 px-4">02</div>
            <div class="flex items-center justify-center rounded-lg bg-indigo-500 py-4 px-6">03</div>
        </sa-stack>
        <p>Center</p>
        <sa-stack align="StackAlign.Center" class="max-w-xs font-mono text-sm leading-6 font-bold text-white bg-indigo-100 rounded">
            <div class="flex flex-1 items-center justify-center rounded-lg bg-indigo-500 py-4 px-12">01</div>
            <div class="flex items-center justify-center rounded-lg bg-indigo-500 py-4 px-4">02</div>
            <div class="flex items-center justify-center rounded-lg bg-indigo-500 py-4 px-6">03</div>
        </sa-stack>
        <h2 class="text-lg">Justify</h2>
        <p>Center</p>
        <sa-stack justify="StackJustify.Center" class="max-w-xs font-mono text-sm leading-6 font-bold text-white bg-indigo-100 rounded h-[300px]">
            <div class="flex items-center justify-center rounded-lg bg-indigo-500 p-4">01</div>
            <div class="flex items-center justify-center rounded-lg bg-indigo-500 p-4">02</div>
            <div class="flex items-center justify-center rounded-lg bg-indigo-500 p-4">03</div>
        </sa-stack>
        <p>Start</p>
        <sa-stack justify="StackJustify.Start" class="max-w-xs font-mono text-sm leading-6 font-bold text-white bg-indigo-100 rounded h-[300px]">
            <div class="flex items-center justify-center rounded-lg bg-indigo-500 p-4">01</div>
            <div class="flex items-center justify-center rounded-lg bg-indigo-500 p-4">02</div>
            <div class="flex items-center justify-center rounded-lg bg-indigo-500 p-4">03</div>
        </sa-stack>
        <p>End</p>
        <sa-stack justify="StackJustify.End" class="max-w-xs font-mono text-sm leading-6 font-bold text-white bg-indigo-100 rounded h-[300px]">
            <div class="flex items-center justify-center rounded-lg bg-indigo-500 p-4">01</div>
            <div class="flex items-center justify-center rounded-lg bg-indigo-500 p-4">02</div>
            <div class="flex items-center justify-center rounded-lg bg-indigo-500 p-4">03</div>
        </sa-stack>
        <p>Space between</p>
        <sa-stack justify="StackJustify.SpaceBetween" class="max-w-xs font-mono text-sm leading-6 font-bold text-white bg-indigo-100 rounded h-[300px]">
            <div class="flex items-center justify-center rounded-lg bg-indigo-500 p-4">01</div>
            <div class="flex items-center justify-center rounded-lg bg-indigo-500 p-4">02</div>
            <div class="flex items-center justify-center rounded-lg bg-indigo-500 p-4">03</div>
        </sa-stack>
        <p>Space around</p>
        <sa-stack justify="StackJustify.SpaceAround" class="max-w-xs font-mono text-sm leading-6 font-bold text-white bg-indigo-100 rounded h-[300px]">
            <div class="flex items-center justify-center rounded-lg bg-indigo-500 p-4">01</div>
            <div class="flex items-center justify-center rounded-lg bg-indigo-500 p-4">02</div>
            <div class="flex items-center justify-center rounded-lg bg-indigo-500 p-4">03</div>
        </sa-stack>
    </sa-stack>
</sa-container>