@page
@model ComponentPlayground.Pages.Demo.Table

<div class="flex flex-col gap-y-4 p-10">
    <div class="max-w-2xl">
        <dui-table>
            <dui-table-caption>A list of your recent invoices.</dui-table-caption>
            <dui-table-header>
                <dui-table-row>
                    <dui-table-head class="w-[100px]">Invoice</dui-table-head>
                    <dui-table-head>Status</dui-table-head>
                    <dui-table-head>Method</dui-table-head>
                    <dui-table-head class="text-right">Amount</dui-table-head>
                </dui-table-row>
            </dui-table-header>
            <dui-table-body>
                <dui-table-row>
                    <dui-table-cell class="font-medium">INV001</dui-table-cell>
                    <dui-table-cell>Paid</dui-table-cell>
                    <dui-table-cell>Credit Card</dui-table-cell>
                    <dui-table-cell class="text-right">$250.00</dui-table-cell>
                </dui-table-row>
            </dui-table-body>
        </dui-table>
    </div>
</div>