@page
@model ComponentPlayground.Pages.Demo.Table

<div class="flex flex-col gap-y-4 p-10">
    <div class="max-w-2xl">
        <sui-table>
            <sui-table-caption>A list of your recent invoices.</sui-table-caption>
            <sui-table-header>
                <sui-table-row>
                    <sui-table-head class="w-[100px]">Invoice</sui-table-head>
                    <sui-table-head>Status</sui-table-head>
                    <sui-table-head>Method</sui-table-head>
                    <sui-table-head class="text-right">Amount</sui-table-head>
                </sui-table-row>
            </sui-table-header>
            <sui-table-body>
                <sui-table-row>
                    <sui-table-cell class="font-medium">INV001</sui-table-cell>
                    <sui-table-cell>Paid</sui-table-cell>
                    <sui-table-cell>Credit Card</sui-table-cell>
                    <sui-table-cell class="text-right">$250.00</sui-table-cell>
                </sui-table-row>
            </sui-table-body>
        </sui-table>
    </div>
</div>