@page
@using DuneUI.TagHelpers
@model ComponentPlayground.Pages.Demo.Tabs

<div class="w-full max-w-md">
    <dui-container>
        <dui-stack class="py-6 lg:py-8">
            <h2>Default</h2>
            <dui-tab-list>
                <dui-tab-link asp-page="/Demo/Icon">Icons</dui-tab-link>
                <dui-tab-link asp-page="/Demo/Tabs">Tabs</dui-tab-link>
                <dui-tab-link asp-page="/Demo/Textarea">Textarea</dui-tab-link>
            </dui-tab-list>
            <h2>Vertical</h2>
            <dui-tab-list orientation="TabListOrientation.Vertical" class="w-fit">
                <dui-tab-link asp-page="/Demo/Icon">Icons</dui-tab-link>
                <dui-tab-link asp-page="/Demo/Tabs">Tabs</dui-tab-link>
                <dui-tab-link asp-page="/Demo/Textarea">Textarea</dui-tab-link>
            </dui-tab-list>
            <h2>With Icons</h2>
            <dui-tab-list>
                <dui-tab-link asp-page="/Demo/Icon">
                    <dui-icon name="image"/>
                    Icons
                </dui-tab-link>
                <dui-tab-link asp-page="/Demo/Tabs">
                    <dui-icon name="notebook-tabs"/>
                    Tabs
                </dui-tab-link>
                <dui-tab-link asp-page="/Demo/Textarea">
                    <dui-icon name="text-cursor-input"/>
                    Textarea
                </dui-tab-link>
            </dui-tab-list>
            <h2>Vertical w/ icons</h2>
            <dui-tab-list orientation="TabListOrientation.Vertical" class="w-fit">
                <dui-tab-link asp-page="/Demo/Icon">
                    <dui-icon name="image"/>
                    Icons
                </dui-tab-link>
                <dui-tab-link asp-page="/Demo/Tabs">
                    <dui-icon name="notebook-tabs"/>
                    Tabs
                </dui-tab-link>
                <dui-tab-link asp-page="/Demo/Textarea">
                    <dui-icon name="text-cursor-input"/>
                    Textarea
                </dui-tab-link>
            </dui-tab-list>
            <h2>Vertical with bigger gap</h2>
            <dui-tab-list orientation="TabListOrientation.Vertical" class="w-fit gap-1">
                <dui-tab-link asp-page="/Demo/Icon">Icons</dui-tab-link>
                <dui-tab-link asp-page="/Demo/Tabs">Tabs</dui-tab-link>
                <dui-tab-link asp-page="/Demo/Textarea">Textarea</dui-tab-link>
            </dui-tab-list>
        </dui-stack>
    </dui-container>
</div>