@page
@model DocsSamples.Pages.Progress.CustomCss

<div class="max-w-md mx-auto">
    <!-- code begin -->
    <sui-progress value="50" class="h-8 bg-red-200 rounded-none">
        <sui-progress-indicator class="bg-red-500"/>
    </sui-progress>
    <!-- code end -->
</div>