@page
@model DocsSamples.Pages.Progress.Intro

<div class="max-w-md mx-auto">
    <!-- code begin -->
    <sui-progress value="50">
        <sui-progress-indicator/>
    </sui-progress>
    <!-- code end -->
</div>