@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");

@import "tailwindcss";
@import "tw-animate-css";
@import "./theme.css";

@source "../../../DuneUI.Core/Theming/ThemePacks";
@source "../../TagHelpers/";

