@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<dui-field>
    <p>This is some other random content inside the field</p>
</dui-field>

@*
<dui-slot-test>
    <p>This is content before the slot</p>
    <dui-slot name="slot1">
        <p>This is the slot content...</p>
        <p>And more</p>
    </dui-slot>
    <p>THis is content after the slot</p>
</dui-slot-test>
*@
