@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<sa-field>
    <p>This is some other random content inside the field</p>
</sa-field>

@*
<sa-slot-test>
    <p>This is content before the slot</p>
    <sa-slot name="slot1">
        <p>This is the slot content...</p>
        <p>And more</p>
    </sa-slot>
    <p>THis is content after the slot</p>
</sa-slot-test>
*@
