@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<sui-field>
    <p>This is some other random content inside the field</p>
</sui-field>

@*
<sui-slot-test>
    <p>This is content before the slot</p>
    <sui-slot name="slot1">
        <p>This is the slot content...</p>
        <p>And more</p>
    </sui-slot>
    <p>THis is content after the slot</p>
</sui-slot-test>
*@
