@{
    Layout = "_Layout";
}
<script>
    window.addEventListener('load', function () {
        document.body.style.opacity = '1';
    });
</script>
<div class="preview flex w-full justify-center px-10 py-10">
    @RenderBody()
</div>

@section Scripts
{
    <style>
        body {
            opacity: 0;
            transition: opacity 0.5s;
        }
    </style>
}
