@{
    Layout = "_Layout";
}

<sui-sidebar-wrapper>
    <sui-sidebar variant="Inset">
        <sui-sidebar-content>
            @{
                List<DemoGroup> demoGroups =
                [
                    new DemoGroup("Alert",
                    [
                        new DemoItem("Intro", "/Alert/Intro"),
                        new DemoItem("Variants", "/Alert/Variants"),
                        new DemoItem("Icon", "/Alert/Icon"),
                        new DemoItem("Custom CSS", "/Alert/CustomCss"),
                        new DemoItem("Actions", "/Alert/Actions"),
                    ]),
                    new DemoGroup("Badge",
                    [
                        new DemoItem("Intro", "/Badge/Intro"),
                        new DemoItem("Variants", "/Badge/Variants"),
                        new DemoItem("Custom CSS", "/Badge/CustomCss"),
                    ]),
                    new DemoGroup("Breadcrumb",
                    [
                        new DemoItem("Intro", "/Breadcrumb/Intro"),
                        new DemoItem("Custom Separator", "/Breadcrumb/CustomSeparator"),
                        new DemoItem("Collapsed", "/Breadcrumb/Collapsed"),
                        new DemoItem("Icons", "/Breadcrumb/Icons"),
                        new DemoItem("Custom CSS", "/Breadcrumb/CustomCss"),
                    ]),
                    new DemoGroup("Button",
                    [
                        new DemoItem("Intro", "/Button/Intro"),
                        new DemoItem("Variants", "/Button/Variants"),
                        new DemoItem("Sizes", "/Button/Sizes"),
                        new DemoItem("Icon", "/Button/Icon"),
                        new DemoItem("Spinner", "/Button/Spinner"),
                        new DemoItem("Additional Attributes", "/Button/AdditionalAttributes"),
                    ]),
                    new DemoGroup("Button Group",
                    [
                        new DemoItem("Intro", "/ButtonGroup/Intro"),
                        new DemoItem("Orientation", "/ButtonGroup/Orientation"),
                        new DemoItem("Sizes", "/ButtonGroup/Sizes"),
                        new DemoItem("Nested", "/ButtonGroup/Nested"),
                        new DemoItem("Text", "/ButtonGroup/Text"),
                        new DemoItem("Separator", "/ButtonGroup/Separator"),
                    ]),
                    new DemoGroup("Card",
                    [
                        new DemoItem("Intro", "/Card/Intro"),
                        new DemoItem("Simple Text", "/Card/SimpleText"),
                        new DemoItem("Stats Card", "/Card/StatsCard"),
                        new DemoItem("Image", "/Card/Image"),
                    ]),
                    new DemoGroup("Empty",
                    [
                        new DemoItem("Intro", "/Empty/Intro"),
                        new DemoItem("Avatar", "/Empty/Avatar"),
                        new DemoItem("Custom CSS", "/Empty/CustomCss"),
                    ]),
                    new DemoGroup("Field",
                    [
                        new DemoItem("Intro", "/Field/Intro"),
                        new DemoItem("Implicit", "/Field/Implicit"),
                        new DemoItem("Input", "/Field/Input"),
                        new DemoItem("Input Implicit", "/Field/InputImplicit"),
                        new DemoItem("Textarea", "/Field/Textarea"),
                        new DemoItem("Textarea Implicit", "/Field/TextareaImplicit"),
                        new DemoItem("Select", "/Field/Select"),
                        new DemoItem("Select Implicit", "/Field/SelectImplicit"),
                        new DemoItem("Checkbox", "/Field/Checkbox"),
                        new DemoItem("Checkbox Implicit", "/Field/CheckboxImplicit"),
                        new DemoItem("Radio", "/Field/Radio"),
                        new DemoItem("Radio Implicit", "/Field/RadioImplicit"),
                        new DemoItem("Fieldset", "/Field/Fieldset"),
                        new DemoItem("Fieldset Implicit", "/Field/FieldsetImplicit"),
                        new DemoItem("Field Group", "/Field/FieldGroup"),
                        new DemoItem("Field Group Implicit", "/Field/FieldGroupImplicit"),
                    ]),
                    new DemoGroup("Group",
                    [
                        new DemoItem("Gap", "/Group/Gap"),
                        new DemoItem("Align", "/Group/Align"),
                        new DemoItem("Justify", "/Group/Justify"),
                    ]),
                    new DemoGroup("Icon",
                    [
                        new DemoItem("Intro", "/Icon/Intro"),
                        new DemoItem("Size", "/Icon/Size"),
                        new DemoItem("Color", "/Icon/Color"),
                        new DemoItem("Stroke width", "/Icon/StrokeWidth"),
                    ]),
                    new DemoGroup("Input",
                    [
                        new DemoItem("Intro", "/Input/Intro"),
                        new DemoItem("With Field", "/Input/WithField"),
                        new DemoItem("Implicit Field", "/Input/ImplicitField"),
                        new DemoItem("Data Binding", "/Input/DataBinding"),
                        new DemoItem("Input Types", "/Input/InputTypes"),
                        new DemoItem("Input Types (Data Binding)", "/Input/InputTypeDataBinding"),
                    ]),
                    new DemoGroup("Item",
                    [
                        new DemoItem("Intro", "/Item/Intro"),
                        new DemoItem("Variants", "/Item/Variants"),
                        new DemoItem("Sizes", "/Item/Sizes"),
                        new DemoItem("Icon", "/Item/Icon"),
                        new DemoItem("Avatar", "/Item/Avatar"),
                        new DemoItem("Image", "/Item/Image"),
                        new DemoItem("Group", "/Item/Group"),
                        new DemoItem("Header", "/Item/Header"),
                        new DemoItem("Link", "/Item/Link"),
                    ]),
                    new DemoGroup("Kbd",
                    [
                        new DemoItem("Intro", "/Kbd/Intro"),
                        new DemoItem("Group", "/Kbd/Group"),
                        new DemoItem("Button", "/Kbd/Button"),
                    ]),
                    new DemoGroup("LinkButton",
                    [
                        new DemoItem("Intro", "/LinkButton/Intro"),
                        new DemoItem("Variants", "/LinkButton/Variants"),
                        new DemoItem("Sizes", "/LinkButton/Sizes"),
                        new DemoItem("Icon", "/LinkButton/Icon"),
                        new DemoItem("Additional Attributes", "/LinkButton/AdditionalAttributes"),
                        new DemoItem("URL", "/LinkButton/Url"),
                    ]),
                    new DemoGroup("Pagination",
                    [
                        new DemoItem("Intro", "/Pagination/Intro"),
                        new DemoItem("Url", "/Pagination/Url"),
                        new DemoItem("Custom Content", "/Pagination/CustomContent"),
                    ]),
                    new DemoGroup("Progress",
                    [
                        new DemoItem("Intro", "/Progress/Intro"),
                        new DemoItem("Custom CSS", "/Progress/CustomCss"),
                        new DemoItem("Min and Max", "/Progress/MinMax"),
                    ]),
                    new DemoGroup("Separator",
                    [
                        new DemoItem("Intro", "/Separator/Intro"),
                        new DemoItem("Orientation", "/Separator/Orientation"),
                    ]),
                    new DemoGroup("Skeleton",
                    [
                        new DemoItem("Intro", "/Skeleton/Intro"),
                        new DemoItem("Card", "/Skeleton/Card"),
                    ]),
                    new DemoGroup("Spinner",
                    [
                        new DemoItem("Intro", "/Spinner/Intro"),
                        new DemoItem("Size", "/Spinner/Size"),
                        new DemoItem("Color", "/Spinner/Color"),
                    ]),
                    new DemoGroup("Stack",
                    [
                        new DemoItem("Gap", "/Stack/Gap"),
                        new DemoItem("Align", "/Stack/Align"),
                        new DemoItem("Justify", "/Stack/Justify"),
                    ]),
                    new DemoGroup("Table",
                    [
                        new DemoItem("Intro", "/Table/Intro"),
                        new DemoItem("Border", "/Table/Border"),
                    ]),
                ];
            }
            @foreach (var demoGroup in demoGroups)
            {
                <sui-sidebar-group>
                    <sui-sidebar-group-label>@demoGroup.Title</sui-sidebar-group-label>
                    <sui-sidebar-group-content>
                        <sui-sidebar-menu>
                            @foreach (var demoItem in demoGroup.Items)
                            {
                                <sui-sidebar-menu-item>
                                    <sui-sidebar-menu-link asp-page="@demoItem.Page">
                                        @demoItem.Title
                                    </sui-sidebar-menu-link>
                                </sui-sidebar-menu-item>
                            }
                        </sui-sidebar-menu>
                    </sui-sidebar-group-content>
                </sui-sidebar-group>
            }
        </sui-sidebar-content>
        @*<sui-sidebar-footer>Footer</sui-sidebar-footer>*@
    </sui-sidebar>
    <sui-sidebar-inset>
        <div class="py-8 flex w-full justify-center">
            @RenderBody()
        </div>
    </sui-sidebar-inset>
</sui-sidebar-wrapper>
