@page
@model DocsSamples.Pages.Field.InputImplicit

<div class="w-full max-w-md">
    <!-- code begin -->
    <sa-field-set>
        <sa-field-group>
            <sa-input asp-for="Model.Email"/>
            <sa-input asp-for="Model.Password"/>
        </sa-field-group>
    </sa-field-set>
    <!-- code end -->
</div>